
  <div class="side">
    <i class="edit fa-solid fa-user-pen text-light" placement="bottom" ngbTooltip="Edit profile info"
      (click)="open(content)"></i>
    <img class="rounded-circle mb-4"
      src="https://img.freepik.com/premium-vector/brunette-man-avatar-portrait-young-guy-vector-illustration-face_217290-1035.jpg?w=2000"
      alt="" srcset="">
    <label class="text-light username">user name</label>
    <p class="text-center">user@example.com</p>
    <div class="side_bar">
      <ul>
        <li><a href="/userPosts"><i class="fa-regular fa-newspaper"></i>Your Posts</a></li>
        <li *ngIf="user.role_id==1"><a href="/AdminUsers"><i class="fa-solid fa-user-gear"></i>users</a></li>
        <li *ngIf="user.role_id==1"><a href="/AdminPosts"><i class="fa-regular fa-newspaper"></i>All Posts</a></li>
        <li *ngIf="user.role_id==1"><a href="/AdminPending"><i class="fa-solid fa-thumbtack"></i>pending Posts</a></li>
        <li *ngIf="user.role_id==1"><a href="/AdminCategories"><i class="fa-solid fa-tag"></i>Categories</a></li>
        <li *ngIf="user.role_id==1"><a href="/AdminContacts"><i class="fa-solid fa-envelope-circle-check"></i>Messages</a></li>
      </ul>
    </div>
  </div>
<!-- update form -->
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Update profile</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
      <h5>Hello, World!</h5>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-success" (click)="c('Save click')">update</button>
    </div>
  </ng-template>
