.footer {
  background-color: #212529; /* Change the background color to black */
  color: #ffffff; /* Change the text color to white */
  padding: 60px 0;
  font-size: 14px;
  line-height: 20px;
  height: 250px;

    bottom: 0;
    left: 0;
    width: 100%;



  }
   ul a{
    padding-right: 20px;


  }
.col-md-4{
  text-align: center;
}

/* Add styles for links and icons in white */
a,
.fa {
  color: #ffffff;
}

/* Add styles for links on hover */
a:hover {
  color: #cccccc;
}

/* Add styles for the horizontal separator */
hr {
  border-top: 1px solid #ffffff; /* Change the color of the separator to white */
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Add styles for the "About Us" and "Quick Links" columns */
h5 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: #ffffff;
}

ul.list-unstyled li {
  margin-bottom: 10px;
}

/* Add styles for the legal information row */
.row:last-child {
  margin-top: 30px;
  border-top: 1px solid #ffffff;
  padding-top: 30px;
}

.list-inline-item a {
  color: #ffffff;
  text-decoration: none;
}

.list-inline-item a:hover {
  text-decoration: underline;
}
