

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>About Us</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non nulla vel ante consectetur tincidunt ut a odio. Nulla facilisi. </p>
      </div>
      <div class="col-md-4">
        <h5>Follow Us</h5>
        <ul class="list-unstyled">
          <!--<li>-->
            <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
          <!--</li>-->
          <!--<li>-->
            <a href="https://twitter.com/home"><i class="fa-brands fa-twitter"></i></a>
          <!--</li>-->
          <!--<li>-->
            <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
          <!--</li>-->
          <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <ul class="list-unstyled">
          <li><i class="fa fa-map-marker"></i>123 Main Street, Mansoura</li>
          <li><i class="fa fa-phone"></i>(123) 456-7890</li>
          <li><i class="fa fa-envelope"></i><a href="mailto:info@yourdomain.com">ayarashed@gmail.com</a></li>

        </ul>
      </div>
    </div>
    <hr>

  </div>
</footer>
