<div class="body">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <app-side-bar></app-side-bar>
      </div>
      <div class="col-9">
        <div class="row mb-3">
          <div class="col p-0 ps-1">
            <h3>Posts</h3>
          </div>
        </div>
        <div class="row p-0 ps-1">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Price</th>
                <th scope="col">location</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let post of allPosts; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{post.title}}</td>
                <td>{{post.price}}</td>
                <td>{{post.location}}</td>
                <td>
                  <button class="btn btn-danger" placement="bottom" ngbTooltip="delete post" (click)="delete(post.id)"><i class="fa-solid fa-trash-can"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

