<div class="body">
  <section class="container">
    <div class="row mt-3">
      <div class="col-3">
        <app-side-bar></app-side-bar>
      </div>
      <div class="col-9">
        <div class="row mb-3">
          <div class="col-6">
            <h3>Your Posts</h3>
          </div>
          <div class="col-6">
            <a class="btn btn-outline-success float-end" (click)="open(content)">Create new post</a>
          </div>
        </div>
        <div class="row">
          <div>
            <div class="row row-cols-1 row-cols-md-2 g-4">
              <h5 *ngIf="allPosts?.length <= 0">You don't create any posts yet.</h5>
              <div *ngFor="let post of allPosts">
                <div class="col">
                  <div class="card">
                    <!-- <img src="http://localhost:8000/post_images/{{post.images[0]}}" class="card-img-top" alt="..." height="20%" > -->
                    <div class="card-body">
                      <h5 class="card-title">{{post.title}}</h5>
                      <h6>Price : {{post.price}} EGP</h6>
                      <h6 class="d-inline">Status : <span *ngIf="post.status == 'pending'||post.status == 'rejected'" [ngClass]="{ 'text-info': post.status == 'pending', 'text-danger': post.status == 'rejected' }"> {{post.status}}</span></h6>
                        <select *ngIf="post.status != 'pending'&&post.status != 'rejected'" #mySelect class="form-select w-50 d-inline font-bold" [ngClass]="{ 'text-success': post.status == 'published', 'text-warning': post.status == 'stopped' }"
                        aria-label=".form-select-lg example" (change)="onSelected(post.id,mySelect.value)">
                        <option value="" selected disabled>{{post.status}}</option>
                        <option value="published" class="text-success">published</option>
                        <option value="stopped" class="text-warning">stopped</option>
                      </select>

                      <hr>
                      <small class="text-muted d-block">Posted on {{post.created_at| date: 'dd/MM/yyyy' }}</small>
                      <small class="text-muted">Updated at {{post.updated_at| date: 'dd/MM/yyyy' }}</small>
                      <div ngbAccordion class="mt-2 mb-3">
                        <div ngbAccordionItem [collapsed]="true">
                          <h2 ngbAccordionHeader>
                            <button ngbAccordionButton>Description</button>
                          </h2>
                          <div ngbAccordionCollapse>
                            <div ngbAccordionBody>
                              <ng-template>{{post.description}}</ng-template>
                            </div>
                          </div>
                        </div>
                        <div ngbAccordionItem [collapsed]="true">
                          <h2 ngbAccordionHeader>
                            <button ngbAccordionButton>Images</button>
                          </h2>
                          <div ngbAccordionCollapse>
                            <div ngbAccordionBody>
                              <ng-template>
                                <div class="d-inline" *ngFor="let img of post.images">
                                  <img src="http://localhost:8000/post_images/{{img}}" alt="" width="20%">
                                </div>
                              </ng-template>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="text-center">
                        <a class="btn btn-outline-primary m-2" *ngIf="post.status != 'pending' &&post.status != 'rejected'"
                          (click)="openUpdate(content,post.id,post.title,post.description,post.price,post.discount,post.location,post.category_id,post.status)">update</a>
                        <a class="btn btn-outline-danger m-2" *ngIf="post.status != 'pending'" (click)="delete(post.id)">delete</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<ng-template #content let-modal>
  <div class="modal-header p-4">
    <h4 class="modal-title" id="modal-basic-title" *ngIf="flag==true">create new post</h4>
    <h4 class="modal-title" id="modal-basic-title" *ngIf="flag==false">update post</h4>
    <button type="button" class="btn-close" aria-label="Close"
      (click)="modal.dismiss('Cross click');flag=true;"></button>
  </div>
  <div class="modal-body">
    <form enctype="multipart/form-data" class="ps-5 px-5" [formGroup]="form">
      <div  class="alert alert-warning p-3 mt-1 font-weight-bold" *ngIf="flag==false">
        <span><i class="fa-solid fa-circle-exclamation"></i> Be careful If you click update, post status will be pending until verify again</span>
      </div>
      <div class="mb-3">
        <label for="title">title</label>
        <div class="input-group">
          <input id="title" class="form-control" placeholder="enter title" name="title" [(ngModel)]="title"
            formControlName="title" />
        </div>
        <div class="alert alert-danger p-1 mt-1"
          *ngIf="form.controls['title'].touched && form.controls['title'].invalid">
          <span *ngIf="form.controls['title'].errors?.['required']"><i class="fa-solid fa-triangle-exclamation"></i>
            Title is required</span>
          <span *ngIf="form.controls['title'].errors?.['minlength']"><i class="fa-solid fa-triangle-exclamation"></i>
            Title min length is 30</span>
        </div>
      </div>
      <div class="mb-3">
        <label for="title">description</label>
        <div class="input-group">
          <input id="description" class="form-control" placeholder="enter description" name="description"
            [(ngModel)]="description" formControlName="description" />
        </div>
        <div class="alert alert-danger p-1 mt-1"
          *ngIf="form.controls['description'].touched && form.controls['description'].invalid">
          <span *ngIf="form.controls['description'].errors?.['required']"><i
              class="fa-solid fa-triangle-exclamation"></i> Description is required</span>
          <span *ngIf="form.controls['description'].errors?.['minlength']"><i
              class="fa-solid fa-triangle-exclamation"></i> Description min length is 50</span>
        </div>
      </div>
      <div class="mb-3">
        <label for="title">price</label>
        <div class="input-group">
          <input id="price" class="form-control" placeholder="enter price" name="price" [(ngModel)]="price"
            formControlName="price" />
        </div>
        <div class="alert alert-danger p-1 mt-1"
          *ngIf="form.controls['price'].touched && form.controls['price'].invalid">
          <span class="d-block" *ngIf="form.controls['price'].errors?.['required']"><i
              class="fa-solid fa-triangle-exclamation"></i> Price is required</span>
          <span class="d-block" *ngIf="form.controls['price'].errors?.['pattern']"><i
              class="fa-solid fa-triangle-exclamation"></i> Price must be numbers only</span>
          <span class="d-block" *ngIf="form.controls['price'].errors?.['minlength']"><i
              class="fa-solid fa-triangle-exclamation"></i> Price min length is 2</span>
        </div>
      </div>
      <div class="mb-3">
        <label for="title">discount</label>
        <div class="input-group">
          <input id="discount" class="form-control" placeholder="enter discount" name="discount" [(ngModel)]="discount"
            formControlName="discount" />
        </div>
        <div class="alert alert-danger p-1 mt-1"
          *ngIf="form.controls['discount'].touched && form.controls['discount'].invalid">
          <span class="d-block" *ngIf="form.controls['discount'].errors?.['pattern']"><i
              class="fa-solid fa-triangle-exclamation"></i> Discount must be numbers only</span>
        </div>
      </div>
      <div class="mb-3">
        <label for="title">location</label>
        <div class="input-group">
          <input id="location" class="form-control" placeholder="enter location" name="location" [(ngModel)]="location"
            formControlName="location" />
        </div>
        <div class="alert alert-danger p-1 mt-1"
          *ngIf="form.controls['location'].touched && form.controls['location'].invalid">
          <span *ngIf="form.controls['location'].errors?.['required']"><i class="fa-solid fa-triangle-exclamation"></i>
            Location is required</span>
        </div>
      </div>
      <div class="mb-3">
        <label for="title">Category</label>
        <div class="input-group">
          <select class="form-select" aria-label="Default select example" name="category" [(ngModel)]="category_id"
            formControlName="category">
            <!-- <option *ngIf="flag==true" value="{{category_id}}" selected disabled>select Category Name</option> -->
            <option *ngFor="let category of categories" value="{{ category.id }}" [ngClass]="{ 'selected': category.id === category_id }">
              {{ category.category_name }}
            </option>
          </select>
        </div>
        <div class="alert alert-danger p-1 mt-1"
          *ngIf="form.controls['category'].touched && form.controls['category'].invalid">
          <span *ngIf="form.controls['category'].errors?.['required']"><i class="fa-solid fa-triangle-exclamation"></i>
            category is required</span>
            <span class="d-block" *ngIf="form.controls['category'].errors?.['pattern']"><i
              class="fa-solid fa-triangle-exclamation"></i> Please select one</span>
        </div>
      </div>
      <div class="mb-4">
        <label for="title">Images</label>
        <div class="input-group" *ngIf="flag==true">
          <input  type="file" id="images" class="form-control" placeholder="enter title"
            name="images[]" multiple formControlName="images" />
        </div>
        <div *ngIf="flag==true">
          <div class="alert alert-danger p-1 mt-1"
            *ngIf="form.controls['images'].touched && form.controls['images'].invalid">
            <span class="d-block" *ngIf="form.controls['images'].errors?.['required']"><i
                class="fa-solid fa-triangle-exclamation"></i> Images are required</span>
            <span class="d-block" *ngIf="form.controls['images'].errors?.['fileCount']"><i
                class="fa-solid fa-triangle-exclamation"></i> Please upload at least 5 images</span>
          </div>
        </div>
        <div class="input-group">
          <input *ngIf="flag==false" type="file" id="upImages" class="form-control" name="images[]" multiple
            formControlName="upImages" />
        </div>
        <div *ngIf="flag==false">
          <div class="alert alert-danger p-1 mt-1"
            *ngIf="form.controls['upImages'].touched && form.controls['upImages'].invalid">
            <span class="d-block" *ngIf="form.controls['upImages'].errors?.['fileCount']"><i
                class="fa-solid fa-triangle-exclamation"></i> Please upload at least 5 images</span>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-outline-success float-end p-2 ps-5 px-5 mb-3" [disabled]="form.invalid"
        (click)="create()" *ngIf="flag==true">Create</button>
      <button type="button" class="btn btn-outline-success float-end p-2 ps-5 px-5 mb-3" [disabled]="form.invalid"
        (click)="update()" *ngIf="flag==false">update</button>
    </form>
  </div>
  <!-- <div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="create()">Create</button>
	</div> -->
</ng-template>
