@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@100;300;400;500;700&display=swap');

h1{

  /* font-family: 'Great Vibes', cursive; */
  font-weight: 700;
  line-height: 1.2;
  color: #0E2E50;
}
p{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #666565;
  /* font-family: 'Great Vibes', cursive; */
}
.my-pagination::ng-deep .ngx-pagination .current {
  background: #3777fc;

  border-radius: 50%;
}
