<div class="body">

<div class="container">
  <div class="post-details">
    <div class="rows ">
      <!-- <div class="col-md-6 images">
        <img src="http://localhost:8000/post_images/{{propertyItem.images[0]}}" alt="Post Image" class="img-fluid post-image">
      </div> -->
      <div class=" imag col-md-6">
      <!-- <div class=" show" *ngFor="let image of propertyItem.images">
        <img  src="http://localhost:8000/post_images/{{ image }}" alt="Image">
      </div> -->
    
        <section class="gallery" *ngFor="let image of propertyItem.images">
            <div class="card">
                <img src="http://localhost:8000/post_images/{{ image }}" alt="">
            </div>
            </section>
      </div>
      <!-- <owl-carousel-o [options]="carouselOptions">
        <ng-container *ngFor="let image of propertyItem.images">
          <div class="item">
            <div class="carousel-image">
              <img src="http://localhost:8000/post_images/{{ image }}" alt="Property image">
            </div>
          </div>
        </ng-container>
      </owl-carousel-o> -->
     
      <div class="col-md-6 contant">
        <p class="post-title">{{propertyItem.title}}</p>
        <p class="post-price">{{propertyItem.price}}EGP</p>
        <p class="post-description">{{propertyItem.description}}</p>
        <p class="post-location"><i class="fa fa-map-marker-alt text-primary me-2"></i>{{propertyItem.location}}</p>
      </div>
    </div>
  </div>
</div>
</div>
<!-- <app-carousel [images]="propertyItem.images"></app-carousel> -->
<!-- <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery> -->