.body {
  background-color: #f2f2f2;
  /* margin-top: 50px; */
  height: 100vh;
}
p{
  word-break: break-all;
}
.container{
  padding-top: 10%;

}
.post-details {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 50px;
  
}
.images{
  height: 300px;
  
}
.post-image {
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
  height: 100%;
  width: 100%;
  object-fit:fill;

}
.post-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.post-price {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.post-description {
  font-size: 18px;
  margin-bottom: 20px;

}
.post-location {
  font-size: 18px;
  margin-bottom: 20px;
}


.rows {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:5px
} 
.imag{
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}
/* .show {
  margin: 10px;
  width: 180px;
  height: 200px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

 
} */
/* 
.show img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
} */
.contant{
  width: 35%;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  /* gap: 16px; */
  max-width: 800px;
}
.card {
  position: relative;
  width: 80px;
  height: 360px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
  transition: flex 0.4s ease-in-out, border-radius 0.4s ease-in-out;
  flex: 0.5;
}
.card:hover {
  flex: 2;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  width: 250px;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}