
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 m-3 card shadow" style="background-color: rgba(152, 191, 228, 0.705);">
      <h2 class="mt-2 text-primary">Users</h2>
      <a href="javascript:void(0)" class="list-group-item list-group-item-action py-3 lh-tight">
        <ng-container *ngFor="let user of users">
          <div *ngIf="user.id !== currentUserId"
          (click)="selectUser(user)"
          [class.hoverable-item]="true"
          [class.selected]="user.id === (selectedUser?.id || null)"
          [attr.data-user-id]="user.id">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">{{ user.name }}</strong>
              <small class="text-muted">
                <span *ngIf="user.isOnline" class="badge bg-success">Online</span>
                <span *ngIf="!user.isOnline" class="badge bg-secondary">Offline</span>
              </small>
            </div>
            <p>{{ user.email }}</p>
          </div>
          <hr>
        </ng-container>
      </a>
      
      
    </div>
    
    <div class="col-md-8">
      <div class="container card mt-3 shadow" style="background-color: rgba(152, 191, 228, 0.705);">
        <h2 style="color: black;"><img [src]="logoUrl" style="height: 5rem; width: 5rem;"><span class="text-primary" style="font-family: 'Great Vibes', cursive;font-family: 'Lobster', cursive;">{{username}}</span> Chat</h2>
        <div class="bg-white chat-container overflow-auto" #chatContainer>
          <div class="list-group border-bottom scrollarea" style="height: 350px;">
            <ng-container *ngFor="let msg of filteredMessages">
              <span>
                <span *ngIf="msg.sender_id === (selectedUser?.id || null)" class="flex list-group-item rounded-pill d-inline-flex text-wrap text-white m-1 bg-success clear ">{{ msg.message }}</span>
                <span *ngIf="msg.receiver_id === (selectedUser?.id || null)" class="flex list-group-item rounded-pill d-inline-flex text-wrap text-white m-1 bg-primary blue ">{{ msg.message }}</span>
              </span>
            </ng-container>
          </div>
        </div>
        
       
        <form (submit)="submit()" class="d-flex chat-input">
          <input type="text" placeholder="Type a message..." class="form-control m-2" [(ngModel)]="message" [ngModelOptions]="{ standalone: true }">

          <button type="submit" class="btn btn-primary m-2">
            <i class="fas fa-paper-plane"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>











