<div class="body">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <app-side-bar></app-side-bar>
      </div>
      <div class="col-9">
        <div class="row mb-3">
          <div class="col p-0 ps-1">
            <h3>Users</h3>
          </div>
        </div>
        <div class="row p-0 ps-1">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">1</td>
                <td>aaa</td>
                <td>aaa</td>
                <td>aaa</td>
                <td>
                  <a class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

